.section-3 {
  background-color: #F0F1EF;

  .description-container {
    display: flex;
    align-items: center;
    padding-right: 2rem;
  }
}

.tab-section {
  color: #55B047;
  padding-top: 10vh;

  .two-col {
    margin-top: 2rem;
  }

  .sub-title {
    color: #55B047;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
  }
}

.blueprint-list {
  margin-top: 2rem;
}

.blueprint-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  .label {
    display: block;
    margin-bottom: .5rem;

    b {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.3rem;
    }

    i {
      font-family: 'Merriweather', serif;
      font-size: 1.125rem;
      margin-left: 10px;
    }
  }


  .text {
    p {
      font-size: 1.125rem;
    }
  }
}